h2 {
    font-family: 'Courier New', 'Sans-Serif';
    color: blue;
    font-size: 40px;
    text-align: center;
    border-style: double;
    border-width: 10px;
    border-color: black; 
    font-size: xx-large;
    font-weight: 900;
}

div {
    border-style: line;
    border-width: 5px;
}

p {
    width: 200px;
}

.row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 33.33%;
    padding: 5px;
  }